<header>
    <div class="container-grid cabecalho">
        <a href="index.html"><img class="logo" [src]="'assets/img/logo.png'" alt=" logo da loja gamemania"></a>
        <!-- <button id="btn-mobile"> Menu </button> -->
        <nav id="menu" class="menu">
            <a href="">início</a>
            <a href="">Pc Gamer</a>
            <a href="">Console</a>
            <a href="">Jogos</a>
            <a routerLink="/login">login</a>
        </nav>
        <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/bars.png" alt="menubarra"></a>
    </div>
</header>

