<footer>
    <div class="container rodape">
        <div class="contatos" >
            <img class="logorodape" src="assets/img/logogm.png" alt="logomarca da loja game Mania">
            <p> Informações de contato <br> Game Mania <br> São Paulo - Centro, S/N. </p>
            <a href="#"></a>
        </div>
                 
        <div class="canais" >
            <div class="redessoc" >
                <a href="#"><img class="red" src="assets/img/logfacebook (1).png" alt="acesso a rede social facebook"> </a>
                <a href="#"><img class="red" src="assets/img/loginstagram.png" alt="acesso a rede social facebook"> </a>
                <a href="#"><img class="red" src="assets/img/logtwitter.png" alt="acesso a rede social facebook"> </a>
                <a href="#"><img class="red" src="assets/img/logyoutube.png" alt="acesso a rede social facebook"> </a>
            </div>

            <a href="#">Acessibilidade</a>
            <a href="#">Canal de Vendas</a>
            <a href="#">Entregas e Devoluções</a>
            <a href="#">Institucional</a> 
            <section class="newsletter">
            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button id="btncadastro" onclick="cadastrarNewsletter ()">Cadastrar</button>
            </form>
            </section>
        </div>
    </div>
        <p class="direitos">Direitos reservados</p>
</footer>
